<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS (Optional but recommended for production)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle the request by redirecting to the public directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
